*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
   
   
    overflow-x: hidden;  
    background: #e7e1da;  
    scroll-behavior: smooth !important;
    z-index: -50;
}



.container{
    max-width: 1200px;
    margin: 0 auto;
    
}


.btn{
    display: inline-block;
    border: 1px solid lightgray;
    background: #333;
    border-radius: 2rem;
    padding: 1.4rem 2.0rem;
    cursor: pointer;
    transition: all 0.2s ;
    color: #fff;
   
}


a{
    text-decoration: none;
    color: #333;

}

ul{
    list-style: none;
    
}

li{
    color: #333;
}

.nav{
    padding: 2rem ;
    font-weight: 600;
    height: 80px;
   
}

.navbar-container{
    display: flex;
    justify-content: flex-end;
}





.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* mobile nav --------------------------------------- */
.mobile-nav{
    display: none;
}

.mobile-nav i {
    cursor: pointer;
}
.mobile-nav-items{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100vh;
    background:#262431;
    opacity: 0.95;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease-in-out;
    z-index: 100000;
    

}

.mobile-menu-items{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

/* active classes */

.mobile-nav-items{
    transform: translateX(100%);
}

.mobile-nav-items.active{
    transform: translateX(0);
}

.mobile-menu-items a{
    color: #fff;
}


.logo-div .logo{
    
    font-size: 1.8rem;
    line-height: 1.8;
    font-family: 'Cinzel', sans-serif;
    font-weight: 100;
    transform: scaleY(1.2);
}

.hero-img-container::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(43,43,43,0.7);
}


.hero-img-container{
    position: relative;
    height: 800px;
    background: #333 url('kait-hero.png') center center/cover no-repeat;
}

.hero-img-content{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    color:#fff;
    text-align: center;

    
}

.hero-img-content h2,
.hero-img-content h4 {
    font-family: 'Instrument Serif', sans-serif;
    width: 100%;
}

.hero-img-content h2{
font-size: 3.5rem;
transform: scaleY(1.2);
font-weight: 300;
}

.hero-img-content h4{
    font-size: 1.8rem;
    font-style: italic;
}










.services-container{
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
   
   

}

.service{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: justify;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.service img{
    max-width: 100%;
    
    height: 200px;
}

.service-text {
    min-height: 350px;
}
.service-text h2, 
.service-text h3{
    text-align: center;
    margin-bottom: 0.5rem;
}

.service-text h2{
    font-size:2.2rem;
}

.service-text h3{
    font-size: 1rem;
}

#hidden{
    opacity: 0;
}

.service-text p{
    font-weight: 300;
    line-height: 1.2;
    text-align: justify;
  
}

.contact-container{
    display: flex;
    gap: 3rem;
    justify-content: center;
    
    padding: 1rem 0;
}

.contact-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    

}

.contact-text h2{
 
    font-size: 3rem;
    font-weight: 500;
}

.contact-text p{
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: justify;
}

.contact-form{
    text-align: center;
    flex: 1;
}




.contact-form input,
.contact-form textarea{
    display:block;
    margin: 1rem 0;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 32px;
    border: 1px solid #333;
}

.contact-form textarea{
    resize: none;
    height: 200px;
}

.contact-form .btn{
    width: 100%;
}

.contact-form textarea,
.contact-form input{
    width: 100%;
    padding: 0.8rem;
    border-radius: 32px;
    margin: 0.5rem;
}

.contact-form .form-name{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Media Query */

@media(max-width: 768px){
    .container{
        max-width: 768px;
        
    }

    /* nav */
    .menu{
        display: none;
    }

    .mobile-nav{
        display: block;
        
    }

    .mobile-nav i{
        overflow-y: hidden;
    }

    /* hero */

   .hero-img-container{
    max-height: 500px;
   }

   .hero-img-content{
    padding: 0 1rem;
   }
    .hero-img-content h2{
        font-size: 2rem;
        
        }
        
        .hero-img-content h4{
            font-size: 1.8rem;
            margin-top: 1rem;
            
        }

        /* services */
        .services-container{
            flex-direction: column;
            gap: 1rem;
            padding: 1.5rem 1.5rem;
            
        }

        .service-text {
            min-height: 200px;
        }

        .service img{
            height: 400px;
        }

        /* contact */

        .contact-container{
            flex-direction: column;
            max-width: 600px;
            padding: 0 1rem;
        }

        .contact-form input,
        .contact-form textarea{
            max-width: 95%;
        }

        .logo-div .logo{
            font-size: 1.2rem;
        }
}

@media(max-width: 490px){
    .services-container{
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem 1.5rem;
        
    }

    .contact-container{
        flex-direction: column;
        max-width: 600px;
    }
}

